* { 
	/* Disable the tap highlight on Andoid */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* Adjust the size of text on iOS devices. Can approve appearance. */
	-webkit-text-size-adjust: 50% !important;
   
	/* Disable selection of all element... */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input, textarea {
	/* ... but enable text selection for input fields and text areas. */
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

body {
	text-align:center;
}
