<?xml version="1.0" encoding="UTF-8" ?>
<app id="com.example.savvy" version="1.0.0" cordova="no">
    
	<!-- An <app> MAY contain any number of <html>, <json>, <js>, <css> and <card> elements. -->
	<html>html/global.html</html>
	<css>http://fonts.googleapis.com/css?family=Rock+Salt|Montserrat</css>
	<js>js/script.js</js>
	<json target="config">data/config.json</json>

    <header>
        <html>html/header.html</html>
    </header>
    
    <footer>
        <html>html/footer.html</html>
    </footer>
    
	<card id="Home" title="Welcome to Savvy" default="yes">
		<!-- A <card> MAY contain any number of <html>, <json>, <js> and <css> elements. -->
		<html>html/home.html</html>
		<css>css/home.css</css>
		<js>js/home.js</js>
	</card>

	<card id="License" title="Licensing Info">
		<html>html/license.html</html>
		<css>css/license.css</css>
	</card>

</app>