@this {
    height: 46px;
    padding: 0px;
}

button,
button:active {
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 0px;
    background: transparent;
    color: rgba(34, 34, 34, 0.66);
    font-size: 24px;
}

/* data-selected is added by script.js */
button[data-selected] {
    color: hsl(196, 68%, 34%); //33B5E5
}