@-savvy-this {
    height: 46px;
    padding: 0px;
    border-top: 1px solid #EFEFEF;
}

button,
button:active {
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 0px;
    background: transparent;
    color: rgba(34, 34, 34, 0.50);
    font-size: 24px;
    float: left;
}

/* data-selected is added by script.js */
button[data-selected="true"] {
    color: #249ecb;
}
