@-savvy-this {
    height: 42px;
    padding: 0px;
    border-bottom: 1px solid #EFEFEF;
}

h1 {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

button,
button:active {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 0px 8px;
    border: none;
    border-radius: 0px;
    background: transparent;
    color: inherit;
}
