@keyframes bounceInDown {
	0% {
		transform: translateY(-100%);
	}

	60% {
		transform: translateY(+33%);
	}

	80% {
		transform: translateY(-10%);
	}

	100% {
		transform: translateY(0);
	}
}

body > object[type="application/x-savvy"].bounceInDown {
	animation-name: bounceInDown;
}