@-webkit-keyframes pulsate {
    0%   { background-color: $highlight-dark; }
    50%  { background-color: $highlight-light; }
    100% { background-color: $highlight-dark; }
}

@-moz-keyframes pulsate {
    0%   { background-color: $highlight-dark; }
    50%  { background-color: $highlight-light; }
    100% { background-color: $highlight-dark; }
}

@-ms-keyframes pulsate {
    0%   { background-color: $highlight-dark; }
    50%  { background-color: $highlight-light; }
    100% { background-color: $highlight-dark; }
}

@keyframes pulsate {
    0%   { background-color: $highlight-dark; }
    50%  { background-color: $highlight-light; }
    100% { background-color: $highlight-dark; }
}

button:focus {
    outline: none;
}

button {
    font-size: $fontsize;
    padding: round($fontsize / 3) round($fontsize * 2/3);
    -moz-border-radius: round($fontsize / 3);
    -webkit-border-radius: round($fontsize / 3);
    border-radius: round($fontsize / 3);
    border: none;
}

button {
    font-family: "Roboto Regular", sans-serif;
    background: $highlight;
    color: $light;
    font-weight: 500;
}

button:active,
button:active {
    background: $highlight-dark;
}

button[type="submit"] {
    -webkit-animation: pulsate 2s ease-in-out infinite;
    -moz-animation: pulsate 2s ease-in-out infinite;
    -ms-animation: pulsate 2s ease-in-out infinite;
    animation: pulsate 2s ease-in-out infinite;
}

button[type="submit"]:active {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

body > main > header,
body > main > footer {
    button {
        text-transform: uppercase;
        font-size: round($header / 2);
        line-height: round($header / 2);
        padding: round($header / 4);
        border: none;
        background: transparent;
        color: $light;
    }

    button:active {
        background: -webkit-radial-gradient(rgba(255, 255, 255, 0.5) 0%, transparent 80%);
        background: -moz-radial-gradient(rgba(255, 255, 255, 0.5) 0%, transparent 80%);
        background: -ms-radial-gradient(rgba(255, 255, 255, 0.5) 0%, transparent 80%);
        background: radial-gradient(rgba(255, 255, 255, 0.5) 0%, transparent 80%);
    }
}