input,
textarea,
select {
    font-family: "Roboto Regular", sans-serif;
    background: $light;
    color: $dark;
    font-weight: 500;
    
    font-size: $fontsize;
    padding: round($fontsize / 3) round($fontsize * 2/3);
    -webkit-border-radius: round($fontsize / 3);
    -moz-border-radius: round($fontsize / 3);
    border-radius: round($fontsize / 3);
    border: 1px solid $highlight;
    outline: none;
    max-width: 100%;
}

input,
textarea,
select,
progress {
    vertical-align: middle;
}

input:active {
    border: 1px solid $highlight-dark;
    outline: none;
}

input:focus {
    box-shadow: 0px 0px 4px 1px rgba($highlight, .75);
    outline: none;
}

input[type="search"] {
    -moz-border-radius: round($fontsize / 2 + $fontsize * 2/3);
    -webkit-border-radius: round($fontsize / 2 + $fontsize * 2/3);
    border-radius: round($fontsize / 2 + $fontsize * 2/3);
}

input[type="color"] {
    height: round($fontsize * 2);
    padding: round($fontsize / 6) round($fontsize / 4);
    box-sizing: border-box;
}

input[type="image"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
    /* Disable selection of all element (input fields enabled below). */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* remove special styling from there */
input[type="file"],
input[type="image"],
input[type="range"] {
    background: transparent;
    padding: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
}

input[type="file"]:active,
input[type="image"]:active,
input[type="range"]:active {
    border: none;
}

input[type="file"]:focus,
input[type="image"]:focus,
input[type="range"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    box-shadow: none;
}

input[type="file"] {
    font-family: "Roboto Light", sans-serif;
    font-size: round($fontsize * 0.9);
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $highlight;
    background: $light;
    border: 1px solid $highlight;
    border-radius: round($fontsize / 3);
    height: $fontsize * 2;
}

/* input[type="file"]::-ms-browse {} */

input[type="file"]::-webkit-file-upload-button {
    font-family: "Roboto Regular", sans-serif;
    font-size: $fontsize;
    font-weight: 500;
    color: $light;
    padding: round($fontsize / 3) round($fontsize * 2/3);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $highlight;
    background-image: none;
    border: none;
    border-radius: 0px;
    outline: none;
}

input[type="file"]:active {
    color: $highlight-dark;
    border: 1px solid $highlight-dark;
    border-radius: round($fontsize / 3);
}

input[type="file"]::-webkit-file-upload-button:active {
    background: $highlight-dark;
    background-image: none;
    border-radius: 0px;
}

output {
    color: $highlight;
}



input:required {}
input:optional {}
input:valid {}

input:invalid {
    background: mix(red, $light, 5%);
    border-color: red;
}

input:focus:invalid {
    box-shadow: 0px 0px 4px 1px rgba(red, .75);
}


input[type="radio"] {
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;
    height: ($fontsize + 4px);
    width: ($fontsize + 4px);
    border-width: 2px;
    border-radius: round(($fontsize + 4px) / 2);
    cursor: pointer;
}

input[type="radio"]:checked {
    background-image: url("images/radio@2x.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

html.svg input[type="radio"]:checked {
    background-image: url("images/radio.svg");
}

input[type="checkbox"] {
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;
    height: ($fontsize + 4px);
    width: ($fontsize + 4px);
    border-width: 2px;
    border-radius: round(($fontsize + 4px) / 4);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-image: url("images/check@2x.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

html.svg input[type="checkbox"]:checked {
    background-image: url("images/check.svg");
}

@-moz-document url-prefix() {
    /* Due to: https://bugzilla.mozilla.org/show_bug.cgi?id=605985 */
    input[type="radio"]:checked { background-image: none; }
    input[type="checkbox"]:checked { background-image: none; }
}

fieldset {
	border: 1px solid lighten($dark, 66%);
	border-radius: 2px;
}

legend {
	font-family: "Roboto Light", sans-serif;
    color: $dark;
	padding-right: 0.5em;
	padding-left: 0.5em;
}
