html {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    font-size: $fontsize;
    color: $light;
}

small {
    font-family: "Roboto Condensed Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Bold", sans-serif;
    font-weight: 700;
    font-size: $fontsize;
}

a,
a:link,
a:visited {
    color: $highlight-dark;
}

a:hover,
a:active {
    color: darken($highlight-dark, 12.5%);
}

dt {
    font-weight: 700;
}

dd {
    margin-top: round($fontsize / 4);
    margin-left: 0px;
}

abbr[title] {
    border-bottom: inherit; // override normalize.css
}

abbr[title]:after {
   content: " (" attr(title) ")";
}

summary {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
}

body > main > section {
    color: $dark;
}

body > main > header {
    h1, h2, h3, h4, h5, h6, p {
        font-family: "Roboto Slab Light", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        height: $header;
        vertical-align: middle;
    }
}

body > main > footer {
    h1, h2, h3, h4, h5, h6, p {
        font-family: "Roboto Light", sans-serif;
        font-weight: 300;
        text-align: center;
        height: $fontsize;
        vertical-align: middle;
    }
}
