* {
    font-family: "Roboto Regular", sans-serif;
    color: $light;
    font-size: $fontsize;
}

body > main > section {
    color: $dark;
    * {
        color: $dark;
    }
    
    a,
    a:link,
    a:visited {
        color: $highlight-dark;
    }

    a:hover,
    a:active {
        color: darken($highlight-dark, 12.5%);
    }

    small {
        font-family: "Roboto Condensed", sans-serif;
    }
}

body > main > header,
body > main > footer {
    * {
        color: $light;
    }
    
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}