/*

   .x+=:.                  _            _                      
  z`    ^%                u            u            ..         
     .   <k              88Nu.   u.   88Nu.   u.   @L          
   .@8Ned8"       u     '88888.o888c '88888.o888c 9888i   .dL  
 .@^%8888"     us888u.   ^8888  8888  ^8888  8888 `Y888k:*888. 
x88:  `)8b. .@88 "8888"   8888  8888   8888  8888   888E  888I 
8888N=*8888 9888  9888    8888  8888   8888  8888   888E  888I 
 %8"    R88 9888  9888    8888  8888   8888  8888   888E  888I 
  @8Wou 9%  9888  9888   .8888b.888P  .8888b.888P   888E  888I 
.888888P`   9888  9888    ^Y8888*""    ^Y8888*""   x888N><888' 
`   ^"F     "888*""888"     `Y"          `Y"        "88"  888  
             ^Y"   ^Y'                                    88F  
                                                         98"   
                                                       ./"     
                                                      ~`       

   Copyright 2014 Oliver Moran

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

   Attribution:
   
   The pirate image was designed by Anne Caroline Bittencourt Gonçalves
   from The Noun Project.

   The Dark Fish Skin and Blach Orchid patterns were designed by Petr Šulc
   and Hybridixstudio respectively. Both are from Subtle Patterns.
   
   These images are licensed under the Creative Commons
   Attribution-ShareAlike 3.0 license. You may read a summary of that
   license at:

       http://creativecommons.org/licenses/by-sa/3.0/

*/

$black: #000000;
$white: #FFFFFF;

$dark: #222;
$light: #F7F7F7;

$highlight: #33B5E5;
$highlight-dark: darken($highlight, 12.5%);
$highlight-light: lighten($highlight, 12.5%);

$header: 42px;
$footer: 42px;
$fontsize: 16px;

@import "main";
@import "fonts";
@import "typography";
@import "media";
@import "input";
@import "buttons";
@import "off-canvas";

