<?xml version="1.0" encoding="UTF-8" ?>
<app id="com.example.savvy" version="1.0.0" cordova="no">
    
    <name>Savvy Example</name>
    <description>
        An example Savvy application.
    </description>
    <author email="j.smith@example.com" href="http://www.example.com">
        John Smith
    </author>

    <deck cache="yes">

        <css>savvy.framework/themes/black_pearl/style.min.css</css>
        <css>assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css</css>
        <js>js/vendor/hammer-2.0.2.min.js</js>

        <header>
            <html>html/header.html</html>
            <css>css/header.css</css>
        </header>

        <card id="Home" title="Welcome to Savvy" default="yes">
            <html>html/home.html</html>
            <js>js/home.js</js>
        </card>
        
    </deck>

</app>