<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:savvy = "https://savvy.nth-iteration.ie/ns/1.0"
        id="com.example.savvy" version="1.0.0" theme="sparrow">
    
    <name>Savvy Example</name>
    <description>
        An example Savvy application.
    </description>
    <author email="j.smith@example.com" href="http://www.example.com">
        John Smith
    </author>
    
    <icon src="icon.png" />
    
    <savvy:deck>

        <css>assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css</css>
        
        <html>html/off-canvas.html</html>
        <css>css/off-canvas.css</css>
        <js>js/script.js</js>
                
        <header>
            <html>html/header.html</html>
            <css>css/header.css</css>
        </header>

        <footer>
            <html>html/footer.html</html>
            <css>css/footer.css</css>
        </footer>

        <card id="Home" title="Welcome" default="yes">
            <html>html/home.html</html>
            <css>css/home.css</css>
        </card>
        
        <card id="Cordova" title="Apache Cordova">
            <html>html/cordova.html</html>
            <css>css/cordova.css</css>
        </card>
        
    </savvy:deck>
    
    <access origin="*" />
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="BackgroundColor" value="0xff000000"/>

</widget>