@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(-180deg);
    }

    100% {
        transform: perspective(400px) rotateY(0deg);
    }
}

.flipInY {
	backface-visibility: hidden !important;
	animation-name: flipInY;
}