html {
    background-color: $black;
	background-image: url("./images/dark_fish_skin/dark_fish_skin.png");
    background-attachment: fixed;
    color: $light;
}

body {
    padding: round($fontsize/2); 
}

body > main  {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.66);
}

body > main > * {
    background-color: $white;
    color: $dark;
    padding: round($fontsize/2); 
}
